
<nav class="navbar navbar-expand-lg bg-light fixed-top justify-content-between">
    <a class="navbar-brand" href="{{ path('landing_page') }}">Flipapop</a>

    <!-- Search form -->
    <form class="form-inline md-form form-sm active-cyan-2">
        <input class="form-control form-control-sm mr-3" style="width: 300px" type="text" placeholder="Search Products" aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
    </form>
    {% if app.user is null %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">Sign in</a>
            </li>
            <span class="navbar-text"> or</span>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('register_user') }}">Sign up</a>
            </li>
        </ul>

    {% else %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.getName() }}
            </button>
            <div class="dropdown-menu dropdown-menu-left" style="right: 0; left: auto;" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('user_profile') }}"><i class="fa fa-user mr-1"></i>My profile</a>
                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out-alt mr-1"></i>Logout</a>
            </div>
        </div>
    {% endif %}
</nav>