<div class="container">
    {{ form_start(form, {'attr': {'class': 'container'}}) }}
    {{ form_errors(form) }}
    <div class="profile-block">
        <div class="row">
            <div class="col-md-5" align="right">
                <div class="profile-image-holder">
                    {%  if user.image is not null%}
                    <img id="edit-profile-image" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-7" align="left">
                {{ form_row(form.imageFile) }}
            </div>
        </div>
    </div>
    <div class="profile-block " align="center">
        <div class="row" align="center">
            <div class="col-md-5" align="right">
                {{ form_label(form.name) }}:
            </div>
            <div class="col-md-7" align="left">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'style': 'max-width: 250px'}}) }}
            </div>
        </div>
        <div class="spacer"></div>
        <div class="row" align="center">
            <div class="col-md-5" align="right">
                {{ form_label(form.surname) }}:
            </div>
            <div class="col-md-7" align="left">
                {{ form_errors(form.surname) }}
                {{ form_widget(form.surname, {'attr': {'style': 'max-width: 250px'}}) }}
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="profile-block centered" align="center">
        <button class="btn btn-primary" type="submit">Save changes</button>
        {{ form_end(form) }}
    </div>
</div>
