{% extends 'base/base.html.twig' %}

{% block body %}


<div class="wrapper">
    <form class="md-form" method="POST" action="{{ path('landing_page') }}">
    <nav class="sidebar d-md-inline-flex">
        <ul class="list-unstyled components" >

                <h4>
                    Filters
                </h4>
                {% for category in categories %}
                        <div class="form-group custom-control custom-checkbox ">
                            <input type="checkbox" class="custom-control-input"  {% if category.id in categoriesSelected %} checked="checked" id="category-{{ category.getName() }}" value="{{ category.id }}" name="{{ category.getName() }}">
                            <label class="custom-control-label" for="category-{{ category.getName() }}">{{ category.getName() }}</label>
                        </div>
                {%  endfor %}
                <div class="col d-flex flex-column align-self-end">
                    <input type="submit" value="" class="btn btn-primary ">
                </div>

        </ul>
    </nav>
    </form>

    <div class="row profile-content">
        {% for product in products %}
            {% if product.canView(app.user) %}
                <div class="col col-lg-2 mr-4 cardholder">
                  {% include 'cards/productCard.html.twig' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    {% if app.user is not null %}
    $('.fa-heart').click(function (event) {
        event.preventDefault();
        var id = $(this).data('id');
        var heart = $(this);
        $.ajax({
            type: "POST",
            url: '{{ path('ajax_like_product') }}',
            data: {id: id},
            dataType: "json"
        }).done(function (data) {
            if(data.liked){
                console.log("llega");
                heart.removeClass('far');
                heart.addClass('fas liked');
            }else{
                console.log("llega2");
                heart.removeClass('fas');
                heart.removeClass('liked');
                heart.addClass('far');
            }
            heart.parent().find(".n-likes").html(data.nlikes)
        });
    });
    {% endif %}

</script>
{% endblock %}
