{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" >
    {% endblock %}

{% block body %}

<div class="wrapper">

    <!-- Sidebar -->
    <nav class="sidebar">
        <ul class="list-unstyled components" >
            <li {% if tab == 'edit' %}class="active"{% endif %}>
                <a href="{{ path('user_profile',{'tab': 'edit' })}}">
                    <div class="sidebar-button " align="center">
                        <div class="dot-image">
                            {%  if user.image is not null%}
                                <img id="side-bar-profile-image" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                            {% endif %}
                        </div>
                        <div class="sidebar-button-name">
                            <a>PROFILE</a>
                        </div>
                    </div>
                </a>
            </li>
            <li {% if tab == 'new' or tab == 'products'%} class="active" {% endif %}>
                <a href="{{  path('user_profile',{'tab': 'products' })}}" >
                    <div class="sidebar-button" align="center">
                        <div class="dot-image" id="products" style="padding-top: 7px">
                            <i class="fas fa-list-ul" style="font-size: 20px"></i>
                        </div>
                        <div class="sidebar-button-name">
                            <a>PRODUCTS</a>
                        </div>
                    </div>
                </a>

            </li>
            <li {% if tab == 'liked'%} class="active" {% endif %}>
                <a href="{{  path('user_profile',{'tab': 'liked' })}}" >
                    <div class="sidebar-button" align="center">
                        <div class="dot-image" id="products" style="padding-top: 7px">
                            <i class="far fa-heart" style="font-size: 20px"></i>
                        </div>
                        <div class="sidebar-button-name">
                            <a>FAVOURITES</a>
                        </div>
                    </div>
                </a>

            </li>
        </ul>
    </nav>

    <!-- Page Content -->
    <div class="profile-content">
        {% if tab == 'edit' %}
            {% include 'editProfile.html.twig' %}
        {% elseif tab == 'products' %}
            {% include 'userProducts.html.twig' %}
        {% elseif tab == 'new' %}
            {% include 'newProduct.html.twig' %}
        {% elseif tab == 'liked' %}
            {% include 'likedProducts.html.twig' %}
        {% endif %}
    </div>

</div>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        $dropdown = $("#visibilityMenu");
        $(".actionButton").click(function() {
            //get row ID
            var id = $(this).data("id");
            $("#lastProduct").val(id);
            $dropdown.children().each(function () {
                $(this).find('a').attr('data-id',id);
            });
            //move dropdown menu
            $(this).after($dropdown);
            //update links
            $(this).dropdown();
        });

        $(".visibility-button").click(function () {
           var id = $('#lastProduct').val();
           var vis = $(this).data('visibility');
            $.ajax({
                type: "POST",
                url: '{{ path('ajax_producto_visibilidad') }}',
                data: {id: id , visibility: vis},
                dataType: "json"
            }).done(function (data) {
                $("#visibility-desc"+id).html(getVisibility(vis))

            });
        });

        function getVisibility(vis){
            if(vis === 1){
                return "Todos";
            }else if(vis === 2){
                return "Logueados";
            }else if( vis === 3){
                return "Solo yo";
            }
        }
    </script>

    <script type="text/javascript">

        $('.fa-handshake').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            var handshake = $(this);
            $.ajax({
                type: "POST",
                url: '{{ path('ajax_sell_product') }}',
                data: {id: id},
                dataType: "json"
            }).done(function (data) {
                if(data.sold){
                    console.log("llega");
                    handshake.removeClass('far');
                    handshake.addClass('fas sold');
                }else{
                    console.log("llega2");
                    handshake.removeClass('fas');
                    handshake.removeClass('sold');
                    handshake.addClass('far');
                }

            });
        });
    </script>
{% endblock %}