{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" >
{% endblock %}
{% block body %}
    <div class="row-fluid">
        <div class="row view-user">
            <div class="dot-image_user_profile">
                {%  if user.image is not null%}
                    <img class="user-profile-image" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                {% endif %}
            </div>
            <div class="col-3">
                <div class="row-fluid name-surname-holder-big">
                    <b>{{ user.getFullUserName() }}</b>
                </div>
                <div class="row-fluid" style="font-size: 1.2rem">
                    {{ user.products.count() }}<b>products</b>
                </div>
            </div>
            <div class="col-8">
                <p style="font-weight: lighter; margin-bottom: 0">About me:</p>
                <p style="font-weight: lighter">{{ user.description }}</p>
            </div>
        </div>
        <div class="row">
            {% for product in user.products %}
                {% if product.canView(app.user) %}
                    <div class="col-md-2 cardholder">
                        {% include 'cards/productCard.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
