{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" >
{% endblock %}
{% block body %}
    <div class="row">
        <div class="row col-md-12 view-user">
            <table style="width:100%">
                <td style="width:3%">
                    <div class="dot-image_user_profile">
                        {%  if user.image is not null%}
                            <img id="side-bar-profile-image" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                        {% endif %}
                    </div>
                </td>
                <td style="width:40%" >
                    <div id="user_name" class="name-surname-holder-big">
                        <b>{{ user.getFullUserName() }}</b>
                    </div>
                </td>
                <td style="width:7%">
                    <div align="center" > <b>{{ user.products.count() }}</b></div> <div align="center"> {{ "products" }}</div>
                </td>
                <td style="width:50%"> </td>
            </table>
            <div class="card-bottom">
                <spam> <b>{{"User's descripcion:  " }} </b></spam>
                <spam class="description-holder"> {{ user.description }} </spam>
            </div>

        </div>
        <div class="row">
            {% for product in user.products %}
                {% if product.canView(app.user) %}
                    <div class="col-md-2 cardholder">
                        {% include 'cards/productCard.html.twig' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
