{% extends 'base/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}" >
{% endblock %}
{% block body %}
    <div class="row product-profile">
        <div class="col-sm col-md col-lg-6  view-product">
            <table style="width:100%">
                <td style="width:10%">
                    <a href="{{ path('user_profile', {'id'}) }}">
                        <div class="product-dot-image">
                            {%  if product.usuario.image is not null%}
                                <img class="product-user-image" src="{{ vich_uploader_asset(product.usuario, 'imageFile') }}">
                            {% endif %}
                        </div>
                    </a>

                </td>


                <td style="width:60%">
                <span class="name-surname-holder-big">
                {{ product.usuario.name }}
                    {{ product.usuario.surname }}
                </span>
                    <div>{{ product.usuario.products.count() }} {{ "products" }}</div>

                </td>
                {% if product.sold %}
                <td style="width: 15%">
                    <i data-id="{{ product.id }}" title="SOLD!" style="color: #0e9486" class="fas fa-handshake fa-2x"></i>
                </td>
                {% endif %}
                <td style="width:15%">
                    <div class="like-holder" >
                    <span class="n-likes" style="font-size: 30px; font-weight: 200">
                        {{ product.likedUsers | length }}
                    </span>
                        {% if app.user is not null and product.isLikedBy(app.user) %}
                            <i data-id="{{ product.id }}" class="fas fa-heart fa-2x liked"></i>
                        {% elseif app.user is not null %}
                            <i data-id="{{ product.id }}" class="far fa-heart fa-2x"></i>
                        {% else %}
                            <i data-id="{{ product.id }}" class="fas fa-heart fa-2x liked"></i>
                        {% endif %}
                    </div>
                </td>

            </table>
            <div class="image-holder-big">
                {%  if product.image is not null%}
                    <img  src="{{ vich_uploader_asset(product, 'imageFile') }}">
                {% endif %}
            </div>
            <div class="card-bottom">
                <div class="category-holder">
                    {{ product.category.getName()}}
                </div>
                <div class="price-holder-big"> {{product.price}}€</div>
                <div class="name-holder-big">
                    {{ product.name }}
                </div>
                <div class="description-holder-big">
                    {{ product.description }}
                </div>


            </div>
        </div>
        {% include 'commentsBlock.html.twig' %}

    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var productID = {{ product.id | raw }};
        {% if app.user %}
            var userID = {{ app.user.id | raw }};
        {% else %}
            var userID;
        {% endif %}
        $('#newComment').click(function (e) {
            e.preventDefault();
            var text = $('#comment-text').val();
            if(text !== ""){
                $.ajax({
                    type: "POST",
                    url: '{{ path('ajax_add_comment') }}',
                    data: {product: productID, user: userID, text: text},
                    dataType: "json"
                }).done(function (data) {
                    $('#comment-text').val("");
                    appendComent(data[0]);
                    $('.comment-reply-button').click(function (e){
                        e.preventDefault();

                        $(this).parent().parent().children('.reply-block').css('display', 'block');
                        $(this).parent().parent().children('.reply-block').children('.reply-textarea').children('.reply').focus();


                    });
                });
            }

        });

        $('.reply').keyup(function(e){
            if(e.keyCode == 13)
            {
                var answer = $(this).val();
                var textArea = $(this);
                var parent = $(this).parent().parent().parent().data('id');
                var parentReplyBlock = $(this).parent();
                if(answer.length > 1){
                    $.ajax({
                        type: "POST",
                        url: '{{ path('ajax_add_reply') }}',
                        data: {product: productID, user: userID, text: answer, parent: parent},
                        dataType: "json"
                    }).done(function (data) {

                        appendReply(parentReplyBlock,data[0]);
                    });
                }
                textArea.val("");
            }
        });

        $('.comment-reply-button').click(function (e){
            e.preventDefault();

            $(this).parent().parent().children('.reply-block').css('display', 'block');
            $(this).parent().parent().children('.reply-block').children('.reply-textarea').children('.reply').focus();


        });

        function appendComent(data) {
            var newComment = $('<div class="row parent-comment" data-id="'+data.id+'">' +
                                '<div class="col-1" style="margin-right: 8px">' +
                                '        <div class="comment-dot-image">' +
                                '        {% if app.user is not null and app.user.image is not null %}' +
                                '            <img class="comment-user-image" src="{{ vich_uploader_asset(app.user,'imageFile') }}">' +
                                '        {% endif %}' +
                                '        </div>' +
                                '    </div>' +
                                '    <div class="col-10" style="padding-left: 30px">' +
                                '        <div class="row comment-user-name">' +
                                '        </div>' +
                                '        <div class="row comment-text">' +
                                '            <div class="col text">' +
                                '            </div>' +
                                '        </div>' +
                                '        <div class="comment-reply-button">' +
                                '            <a>Reply</a>' +
                '                           <i class="fas fa-comment-alt"></i><span>0</span>' +
                                '        </div>' +
                                '    </div>' +
                                '    <div class="row comment-date">' +
                                '   </div>' +
                '                      <div class="reply-block">' +
                '        <div class="reply-textarea">' +
                '            <div class="reply-dot-image">' +
                '                {% if app.user is not null and app.user.image is not null %}' +
                '                    <img class="reply-user-image" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">' +
            '                {% else %}' +
            '                    <i class="fas fa-user reply-empty-user-image" style="color: white"></i>' +
            '                {% endif %}' +
            '            </div>' +
            '            <textarea class="reply" placeholder="Write a reply..."></textarea>' +
            '' +
            '        </div>' +
            '' +
            '    </div>' +
                             '</div>');

            newComment.children('.col-10').children('.comment-user-name').html(data.name);
            newComment.children('.col-10').children('.comment-text').children('.text').html(data.text);
            newComment.children('.comment-date').html(data.datetime);

            $('#comments').append(newComment);

            $('.reply').keyup(function(e){
                if(e.keyCode == 13)
                {
                    var answer = $(this).val();
                    var textArea = $(this);
                    var parent = $(this).parent().parent().parent().data('id');
                    var parentReplyBlock = $(this).parent();
                    if(answer.length > 1){
                        $.ajax({
                            type: "POST",
                            url: '{{ path('ajax_add_reply') }}',
                            data: {product: productID, user: userID, text: answer, parent: parent},
                            dataType: "json"
                        }).done(function (data) {

                            appendReply(parentReplyBlock,data[0]);
                        });
                    }
                    textArea.val("");
                }
            });

            $('.comment-reply-button').click(function (e){
                e.preventDefault();
                if($(this).parent().parent().children('.reply-block').css('display') === 'none') {


                    $(this).parent().parent().children('.reply-block').css('display', 'block');
                    $(this).parent().parent().children('.reply-block').children('.reply-textarea').children('.reply').focus();

                }else{
                    $(this).parent().parent().children('.reply-block').css('display', 'none');

                }
            });

        }




        function appendReply(parentReplyBlock,data) {
            var newReply = $('<div class="row son-comment" data-id="">' +
                '                <div class="col-1" style="margin-right: 8px">' +
                '                    <div class="reply-dot-image">' +
                '                        {% if app.user is not null %}' +
                '                            <img class="reply-user-image" src="{{ vich_uploader_asset(app.user, 'imageFile') }}">' +
            '                        {% else %}' +
            '                            <i class="fas fa-user reply-empty-user-image" style="color: white"></i>' +
            '                        {% endif %}' +
            '                    </div>' +
            '                </div>' +
            '                <div class="col-10" style="padding-left: 30px">' +
            '                    <div class="row comment-user-name">' +
            '                    </div>' +
            '                    <div class="row comment-text">' +
            '                        <div class="col text">' +
            '                        </div>' +
            '                    </div>' +
            '                </div>' +
            '                <div class="row reply-date">' +
            '                </div>' +
            '            </div>');

            newReply.children('.col-10').children('.comment-user-name').html(data.name);
            newReply.children('.col-10').children('.comment-text').children('.text').html(data.text);
            newReply.children('.reply-date').html(data.datetime);
            newReply.data('id', data.id);


            newReply.insertBefore(parentReplyBlock);

            var n = parseInt(parentReplyBlock.parent().parent().children('.col-10').children('.comment-reply-button').children('span').html());
            parentReplyBlock.parent().parent().children('.col-10').children('.comment-reply-button').children('span').html(n+1);

        }
        
        $('.fa-heart').click(function (event) {
            event.preventDefault();
            var id = $(this).data('id');
            var heart = $(this);
            $.ajax({
                type: "POST",
                url: '{{ path('ajax_like_product') }}',
                data: {id: id},
                dataType: "json"
            }).done(function (data) {
                if(data.liked){
                    heart.removeClass('far');
                    heart.addClass('fas liked');
                }else{
                    heart.removeClass('fas');
                    heart.removeClass('liked');
                    heart.addClass('far');
                }
                heart.parent().find(".n-likes").html(data.nlikes)
            });
        });
    </script>
{% endblock %}
